/* Header.css */

.header-container {
  display: flex;
  justify-content: space-between; /* 로고와 버튼 사이에 공간을 넓힘 */
  align-items: center; /* 세로 중앙 정렬 */
  background-color: #5a71af; /* 배경색 */
  color: #fff; /* 글자색 */
  padding: 1px; /* 패딩 */
  height: 50px; /* 헤더 높이 */
}

.logo {
  margin-left: 0.5em; /* 로고의 좌측 여백 */
}

.button-container {
  display: flex;
  align-items: center;
}

.button {
  margin: 5px;
  font-size: 16px; /* 버튼 글자 크기 */
  height: 30px; /* 버튼 높이 */
  background-color: #5a71af; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  border: none; /* 버튼 테두리 없음 */
  cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
}

.button:hover {
  background-color: #5272b8;
  color: rgb(255, 255, 255);
  animation-duration: 1s;
  animation-name: fadeout;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-label {
  margin-right: 10px;
  font-size: 16px;
}

.input {
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.input.active {
  background-color: #ffffff;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 정렬 */
  flex: 1; /* 나머지 공간을 차지하도록 설정 */
}



.input-label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.input {

  padding: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px dotted grey;
  margin-top: 8px;
}

.input.active { 
  display: inline-block;
  font-weight: bold;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid;
}
.input:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}
.APIBtn {
  margin: 5px;
  font-size: 16px; /* 버튼 글자 크기 */
  height: 30px; /* 버튼 높이 */
  background-color: #5a71af; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  border: none; /* 버튼 테두리 없음 */
  cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
}