.tab-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tab-menu button {
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
}

.tab-menu button img {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 5px;
}

.tab-menu button.active {
  background-color: #5a71af;
  color: white;
}

.tab-content {
  flex: 1;
  padding: 20px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.spec-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.spec-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.spec-row label {
  margin-bottom: 5px;
}

.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  display: none;
}

.checkbox-container label {
  padding: 0.5rem 1rem;
  height: 2.25rem;
  cursor: pointer;
  
  background-color: #f2f4f6;
  font-size: 0.75rem;
  color: #383838;
  border: none;
}

.checkbox-container input:checked + label {
  background-color: #846315;
  color: white;
}
