.rtc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-container {
    position: relative;
    display: inline-block;
  }
  
  .rtc-video {
    width: 640px;
    height: 480px;
  }
  
  .selection-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    pointer-events: none;
  }
  